body {
    
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    background-image: url("/image/photo_5384087276629379664_y.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

.list{
    color: black;
    font-size: 16px;
    margin-left: 15px;
    list-style: none;
}
.logo {
    color: palevioletred;
    font-family: 'Dancing Script', cursive;
    font-size: 48px;
}
.logo {
    text-decoration: none;
}
.aboutme{
    margin-left: 15px;
    color: aliceblue;
    padding-top: 15px;
    display: block;
    width: 400px;
}
.footer{ 
    padding-top: 100px;
    display: flex;
    justify-self: start;
    align-items: baseline;
    font-size: 25px;   
}
.footer-list{
    margin-left: 15px;
    list-style: none;
    
    
}
.social-icon {
width: 60px;
height: 60px;

color: dimgrey;
}

.social-icon:hover,
.social-icon:focus,
.social-icon:active {
    color:black;
    fill: skyblue;
    background-color: white;
border-radius: 40%;
}
.link{
    text-decoration: none;
    color: bisque;
}